<ul class="Management__list">
  {{#each model as |greenHouse|}}
      <li class="Management__greenhouse">
          <div class="Management__greenhouse-header">
            <div class="number">
                <span>Serre&nbsp;<small>n°</small></span>
                <span>{{greenHouse.id}}</span>
            </div>
            <div class="type">
                <span>-</span>
                <span>{{greenHouse.type}}</span>
                <span>-</span>
            </div>
          </div>
          <div class="dimention">
              <span>Dimention&nbsp;</span>
              <span>{{greenHouse.width}} &times; {{greenHouse.height}}</span>
          </div>
          <div class="barre-btn">
            <a href="#" class="btn btn-update"> Modifications </a>
            <a href="#" class="btn btn-trairement"> Traitements </a>
            <a href="#" class="btn btn-observ"> Observations </a>
          </div>
          <dl class="info">

              <dt>Etape</dt>
              <dd>{{greenHouse.step}}</dd>
              <dt>Cultivation</dt>
              <dd>{{greenHouse.cultivation}}</dd>
              <dt>Observation</dt>
              <dd>{{greenHouse.observation}}</dd>
          </dl>
          <div class="realm">
              <div class="realm-header">
                <span>Realm</span>
                <span>{{greenHouse.realm.id}}</span>
              </div>
            <ul>
            {{#each greenHouse.realm.sensors as |sensor|}}
                <dl class="sensor">
                    <dt></dt>
                    <dt><span>Capteur&nbsp;<small>n°</small></span><span>{{sensor.id}}</span></dt>
                    <dd><span>{{sensor.lastValue}}&nbsp;{{sensor.unit}}</span><span>&nbsp;&nbsp;<i>({{sensor.name}})</i></span></dd>
                </dl>
            {{/each}}
          </ul>
        </div>
      </li>
  {{/each}}
</ul>
{{outlet}}
