<h2>Management</h2>
<ul class="Management__list">
  {{#each model as |greenHouse|}}
      <li class="Management__greenhouse">
          <dl>
              <dt></dt>
              <dd>{{greenHouse.id}}</dd>
          </dl>
          <div></div>
          <div>{{greenHouse.width}}</div>
          <div>{{greenHouse.height}}</div>
          <div>{{greenHouse.type}}</div>
          <div>{{greenHouse.step}}</div>
          <div>{{greenHouse.cultivation}}</div>
          <div>{{greenHouse.observation}}</div>
          <div>{{greenHouse.realm.id}}</div>
          <ul>
              {{#each greenHouse.realm.sensors as |sensor|}}
                <li>
                    {{sensor.id}}, {{sensor.type}}, {{sensor.name}}
                </li>
              {{/each}}
          </ul>
      </li>
  {{/each}}
</ul>
{{outlet}}
