<ul class="Management__list">
  {{#each model as |greenHouse|}}
      <li class="Management__greenhouse">
          <dl>
              <dt>Identifiant</dt>
              <dd>{{greenHouse.id}}</dd>
              <dt>Largeur</dt>
              <dd>{{greenHouse.width}}</dd>
              <dt>Heigh</dt>
              <dd>{{greenHouse.height}}</dd>
              <dt>Type</dt>
              <dd>{{greenHouse.type}}</dd>
              <dt>Etape</dt>
              <dd>{{greenHouse.step}}</dd>
              <dt>Cultivation</dt>
              <dd>{{greenHouse.cultivation}}</dd>
              <dt>Observation</dt>
              <dd>{{greenHouse.observation}}</dd>
              <dt>Realm</dt>
              <dd>{{greenHouse.realm.id}}</dd>
          </dl>
          <ul>
            {{#each greenHouse.realm.sensors as |sensor|}}
                <li>
                  {{sensor.id}}, {{sensor.type}}, {{sensor.name}}
                </li>
            {{/each}}
          </ul>
      </li>
  {{/each}}
</ul>
{{outlet}}
